[Desktop Entry]
Type=Application
Name=Stremio Native (Devel)
Comment=Ultra-Fast & Lightweight Native Stremio Desktop Client
Exec=stremio-native %U
Icon=com.stremio.StremioNative.Devel
Terminal=false
Categories=AudioVideo;Video;Player;TV;
MimeType=x-scheme-handler/stremio;x-scheme-handler/magnet;
